@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1920px;
}

button {
    cursor: pointer;
}

.top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo,
.top-login-con {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-navbar .logo p {
    color: #f17228;
    font-weight: 900;
    font-size: 20px;
}

.top-navbar .logo p span {
    color: #ffb30e;
}

.top-navbar i {
    color: #ffb30e;
}

.top-center span {
    font-weight: 200;
}

.top-login-con button {
    font-size: 12px;
    font-weight: 800;
    color: #ffb30e;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(255, 179, 14, 0.8) 0px 2px 9px 0px;
}

.top-login-con i {
    font-weight: 800;
}

.search-con {
    height: 620px;
    background: linear-gradient(to right bottom, #fccd22 100%, #df793e 20%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.search-inp {
    height: 220px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.search-left h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.search-left,
.search-right {
    height: 50%;
    width: 40%;
}

.search-inp-top {
    display: flex;
    border-bottom: 1px solid #918e8e;
    align-items: center;
    height: 50%;
    gap: 20px;
}

.search-inp-top button {
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 6px;
    background: #fef1ea;
    color: #f17228;
}

.search-inp-top p {
    color: #757575;
    font-weight: 700;
    font-size: 18px;
}

.search-bottom input {
    width: 73%;
    padding: 12px 0px;
    padding-left: 40px;
    border: none;
    margin-right: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}

.search-bottom input:focus {
    border: 1px solid #991a1a;
    background: #e7e6e4;
}

.search-bottom button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #f17228;
}

.search-bottom {
    height: 50%;
    align-items: center;
    display: flex;
    width: 100%;
}

.search-right img {
    position: absolute;
    bottom: 0;
}

.user {
    position: absolute;
    color: #df793e;
    font-size: 25px;
    margin-left: 10px;
}

.flash-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 40px auto;
    gap: 15px;
    /* align-items: center;
    justify-content: center; */

}

.flash-con img {
    width: 300px;
    height: 210px;
    border-radius: 10px;
    object-fit: cover;

}

.flash-img {
    position: relative;
}

.card-para {
    position: absolute;
    bottom: -1px;
    background: #fccd22;
    height: 55px;
    font-size: 40px;
    border-radius: 0px 20px 0px 10px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 5px 0px;
    padding: 0px 10px;
    padding-right: 30px;

}

.card-para span {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

small {
    font-size: 15px;
    font-weight: 200;
    display: flex;
}

.flash-card button,
.featured-card button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    color: #f17228;
    background: #fce3d4;
}

h3 {
    color: #424242;
}

.work-con {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#fff9ed, #fff);
}

.work-h1 {
    color: #df793e;
    margin: 40px 0px;

}

.work-card-container {
    display: flex;
    width: 70%;
    margin-top: 20px;
}

.work-card-container img {
    width: 80px;
    height: 100px;
}

.meal {
    width: 100px !important;
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.work-card p {
    text-align: center;
    margin: 0;
    color: #918e8e;
    font-weight: 400;
}

.populor-con {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.populor-card-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 40px;
    width: 100%;
}

.populor-con>button {
    border-radius: 50%;
    background: #ffb20e;
    /* padding: 10px; */
    font-size: 51px;
    color: #fff;
    border: none;
}

.populor-card p {
    color: #ffb20e;
}

.populor-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.populor-card button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #f17228;
    width: 100%;
    box-shadow: 0px 0px 15px #f17228;

}

.featured-img-con {
    position: relative;
}

.featured-para {
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 15px;
    gap: 10px;
}

.fea-para-1 {
    background: #f17228;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 20px;

}

.fea-para-2 {
    background: #ffb30e;
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 20px;
}

.featured-logo-con {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

.featured-logo-con p {
    color: #ffb30e;
}

.featured-logo-para h4,
.featured-logo-para p {
    margin: 2px;
}

.featured-card-con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    gap: 30px;
}

.featured-res {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-img-con>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
}

#donut {
    background: #e4f1d8;
    color: #79b93c;
}

.view-all {
    background: #ffa315;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px #ffa315;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
}

.cat-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 80%;
    margin: 0 auto;
}

.cat-heading i {
    background: #ffa315;
    padding: 9px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-left: 10px;
    box-shadow: 0px 0px 7px #ffa315;
}
.cat-heading p{
    color: #ffa315;
    font-size: 20px;
}
.cat-con{
    background: #fefaf1;
    margin-top: 40px;
    padding: 40px 0px;
}
.cat-img-con{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}
.cat-img-con img{
    border-radius: 50%;
    margin: 0 auto;
}
.img-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #424242;
}
.install-img-1{
    display: flex;
    align-items: center;
    gap: 15px;
}
.install-head{
    background: #fff;
    border-radius: 30px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;

}
.install-con{
    background: #feefd0;
    padding-top: 60px;
    background-image: url(./img/Curve.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.install-con p{
    font-size: 25px;
    font-weight: 700;
}
.live-tracking{
    border-right: 1px solid  #918e8e;
    border-left: 1px solid  #918e8e;
    padding: 0px 40px;
}
.install-bottom{
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 120px;
    gap: 80px;
}
.install-bottom-img{
    display: flex;
    gap: 10px;
}
.install-bottom p{
    font-size: 18px;
    color: #918e8e;
    font-weight: 400;
}
.install-bottom h1{
    font-size: 50px;
    line-height: 50px;
    color: #ffa315;
}
.custom-btn{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 7px #ffa315;
    padding: 0px 15px;
}
.custom-btn p{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.custom-btn h3{
    margin: 0;
    font-size: 18px;
}
.custom-btn i{
    font-size: 45px;
    color: #df793e;
}
.colum-btn{
    text-align: left;
    color: #000;
}
.deal-card-con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.deal-card{
    display: flex;
    align-items: center;
    width: 70%;
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 350px;
}
.deal-card-left{
    width: 30%;
    padding: 40px;

}
.deal-card-left p{
    font-size: 16px;
    color: #918e8e;
    margin: 5px;
}
.deal-card-left button{
    background: #ffa315;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px #ffa315;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 700;
    width: 100%;

}
.deal-card-left span{
    color: #ffa315;
}
.deal-card-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}
.deal-card-right{
    width: 70%;
    height: 100%;

}
.left-card>.deal-card-left{
    order: 2;
}
.left-card>.deal-card-right{
    order: 1;
}
.left-card>.deal-card-right img{
    border-radius: 10px 0px 0px 10px;
}
.footer-list{
    list-style: none;
    margin: 0 auto;
    padding: 10px 40px;
    column-gap: 40px;
    column-count: 5;
    width: 80%;
    color: #f5f5f5;
    font-weight: 300;
}
.footer-con{
    background: #000;
    padding-top: 70px;
}
.footer-con>p {
    color: #fff;
    width: 80%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 600;
}
li{
    margin-top: 20px;
}
.list-btm{
    list-style: none;
    color: #f5f5f5;
}
.bottom-left{
    display: flex;
    color: #f5f5f5;
    gap: 80px;
    font-weight: 300;
}
.bottom-right{
    color: #f5f5f5;
    padding-right: 40px;
}
.footer-bottom{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    border-top: 1px solid #424242;
    border-bottom: 1px solid #424242;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.bottom-right button{
    background: #ffa315;
    padding: 15px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px #ffa315;
}
.bottom-right input {
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    background: #424242;
}
.bottom-right input::placeholder{
    font-size: 18px;
    color: #f5f5f5;
    
}
.footer-inp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-inp i{
    position: absolute;
    left: 12px;
    font-size: 22px;
    top: 14px;
}
.footer-bottom h3{
    color: #fff;
    margin-bottom: 20px;
}
.social-icon{
    color: #636363;
    font-size: 22px;
}
.footer-copyright{
    color: #f5f5f5;
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
}
.footer-copyright span{
    color: #fff;
    font-weight: 600;
}